<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SkillBridge AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">SkillBridge AI</div>
    </nav>

    <section class="hero">

        <h1>SkillBridge AI</h1>

        <h2>Bridge Your Skills to Your Dream Career</h2>

        <p>
            Identify the skills required for your desired job role,
            discover your skill gaps, and get a personalized learning
            roadmap to improve your career readiness.
        </p>

        <a href="{{ url_for('profile') }}" class="btn">Get Started</a>

    </section>

</body>
</html>